@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1628599686472') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixiu:before {
  content: "\e602";
}

.icon-maichexianbeifen:before {
  content: "\e603";
}

.icon-zizhuxiche:before {
  content: "\e605";
}

.icon-remaihaoche:before {
  content: "\e608";
}

